body {
  --button-icon-size: 32px;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 5vh 10vw;
  overflow: hidden;
  font-size: 14px/1.5;
  font-family: Arial, sans-serif;
}
body, body.light-mode {
  --background-color: #fff;
  --textarea-background-color: #fff;
  --text-color: #888;
  --strong-color: #222;
  --h1-color: #444;
  --h2-color: #666;
  --small-color: #222;
  --small-hover-color: #666;
  --border-color: #888;
  --hr-color: #f0f0f0;
  --code-text-color: #222;
  --winner-overlay: #b4b4b4;
  --button-icon-position-x: calc(-1 * var(--button-icon-size));
}
body.dark-mode {
  --background-color: #222;
  --textarea-background-color: #444;
  --text-color: #fff;
  --strong-color: #f0f0f0;
  --h1-color: #ccc;
  --h2-color: #aaa;
  --small-color: #aaa;
  --small-hover-color: #888;
  --border-color: #e5e5e5;
  --hr-color: #e5e5e5;
  --code-text-color: #e5e5e5;
  --winner-overlay: #464646;
  --button-icon-position-x: 0;
}
body h1 {
  color: var(--h1-color);
  font-size: 1.75rem;
}
body h2 {
  color: var(--h2-color);
}
body h1, body h2 {
  margin: 0 0 2vh;
  line-height: 1.1;
}
body a {
  color: #39c;
  text-decoration: none;
}
body a:hover {
  color: #069;
}
body small {
  font-size: 0.7rem;
  color: var(--small-color);
}
body hr {
  border: 0;
  background: var(--hr-color);
  height: 1px;
}
body strong {
  color: var(--strong-color);
  font-weight: bold;
}
body textarea {
  resize: vertical;
  background-color: var(--textarea-background-color);
  color: var(--code-text-color);
}
body .wrapper {
  margin: 0;
  padding: 0;
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-flow: row nowrap;
}
body .wrapper section {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body .wrapper section.left {
  flex-basis: 25%;
}
body .wrapper section.left .header, body .wrapper section.left .footer {
  text-wrap: nowrap;
  height: 18%;
  padding: 1% 0;
  margin: 0;
}
body .wrapper section.left .header .menu ul {
  padding-left: 0;
  display: flex;
  flex-flow: row nowrap;
}
body .wrapper section.left .header .menu ul li {
  list-style-type: none;
}
body .wrapper section.left .header .menu .menu-item {
  width: var(--button-icon-size);
  height: var(--button-icon-size);
  background-position-x: var(--button-icon-position-x);
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 0.5rem;
}
body .wrapper section.left .header .menu .menu-item#theme-toggle {
  background-image: url("../images/theme.ico");
}
body .wrapper section.left .header .menu .menu-item#save {
  background-image: url("../images/save.ico");
}
body .wrapper section.left .content #configure-people {
  height: 60%;
}
body .wrapper section.left .content #configure-people textarea {
  height: 100%;
  width: 100%;
}
body .wrapper section.left .content #people ul {
  margin: 0 0 2vh;
}
body .wrapper section.left .footer {
  font-size: 0.75rem;
}
body .wrapper section.left .footer .view {
  color: var(--small-color);
}
body .wrapper section.left .footer .view ul {
  padding: 0;
}
body .wrapper section.left .footer .view li {
  list-style-type: none;
  padding-left: 30px;
  position: relative;
}
body .wrapper section.left .footer .view li::before {
  content: "View";
  position: absolute;
  left: 0;
}
body .wrapper section.right {
  padding-left: 2vw;
  width: 75%;
}
body .wrapper section.right #wheel-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  font-size: 1.25rem;
}
body .wrapper section.right #wheel-container #wheel {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  overflow: hidden;
}
body .wrapper section.right #wheel-container #wheel .slice {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body .wrapper section.right #wheel-container #wheel .slice .name {
  position: absolute;
  color: #000;
  vertical-align: middle;
  top: 75%;
  left: 100%;
  white-space: nowrap;
}
body .wrapper section.right #wheel-container #wheel .slice .name.dark {
  color: #fff;
}
body .wrapper section.right #wheel-container #wheel .slice .name.light {
  color: #000;
}
body .wrapper section.right #wheel-container #wheel .slice.border {
  border: 1px solid var(--border-color);
}
body .wrapper section .content {
  height: 100%;
}
body #winner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
body #winner-overlay .winner-box {
  position: fixed;
  top: 25vh;
  left: 25vw;
  width: 50vw;
  height: 30vh;
  background-color: var(--winner-overlay);
  border: 4px double var(--border-color);
  display: flexbox;
  vertical-align: middle;
  text-align: center;
  align-items: center;
}
body #winner-overlay .winner-box * {
  width: 100%;
  position: relative;
  color: var(--h1-color);
}
body #winner-overlay .winner-box h1 {
  font-size: 3rem;
}
body .hidden {
  display: none;
}
body .visible {
  display: block;
}
body #people {
  display: none;
}
body svg {
  width: 0;
  height: 0;
  position: absolute;
}
