body {
  --button-icon-size: 32px;

  background-color: var(--background-color);
  color: var(--text-color);

  margin: 0;
  padding: 5vh 10vw;
  overflow: hidden; // no scrollbars

  font-size: 14px/1.5;
  font-family: Arial, sans-serif;

  &, &.light-mode {
    --background-color: #fff;
    --textarea-background-color: #fff;
    --text-color: #888;
    --strong-color: #222;
    --h1-color: #444;
    --h2-color: #666;
    --small-color: #222;
    --small-hover-color: #666;
    --border-color: #e5e5e5;
    --hr-color: #f0f0f0;
    --code-text-color: #222;

    // shift the button icons to the left for light mode
    --button-icon-position-x: calc(-1 * var(--button-icon-size));
  }

  &.dark-mode {
    --background-color: #222;
    --textarea-background-color: #444;
    --text-color: #fff;
    --strong-color: #f0f0f0;
    --h1-color: #ccc;
    --h2-color: #aaa;
    --small-color: #aaa;
    --small-hover-color: #888;
    --border-color: #e5e5e5;
    --hr-color: #e5e5e5;
    --code-text-color: #e5e5e5;

    --button-icon-position-x: 0;
  }

  h1 {
    color: var(--h1-color);
    font-size: 1.75rem;
  }
  h2 {
    color: var(--h2-color);
  }
  h1, h2 {
    margin: 0 0 2vh;
    line-height: 1.1;
  }
  a {
    color: #39c;
    text-decoration: none;

    &:hover {
      color: #069;
    }
  }
  small {
    font-size: .7rem;
    color: var(--small-color);
  }
  hr {
    border: 0;
    background: var(--hr-color);
    height: 1px;
  }
  strong {
    color: var(--strong-color);
    font-weight: bold;
  }
  textarea {
    resize: vertical;

    background-color: var(--textarea-background-color);
    color: var(--code-text-color);
  }

  .wrapper {
    margin: 0;
    padding: 0;
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-flow: row nowrap;

    section {
      display: flex;
      flex-direction: column;
      height: 100%;

      &.left {
        flex-basis: 25%;

        .header, .footer {
          height: 18%;
          padding: 1% 0;
          margin: 0;
        }

        .header {
          .menu {
            ul {
              padding-left: 0;
              display: flex;
              flex-flow: row nowrap;

              li {
                list-style-type: none;
              }
            }

            .menu-item {
              width: var(--button-icon-size);
              height: var(--button-icon-size);

              background-position-x: var(--button-icon-position-x);
              background-repeat: no-repeat;

              cursor: pointer;
              margin-right: 0.5rem;

              &#theme-toggle {
                background-image: url('../images/theme.ico');
              }
              &#save {
                background-image: url('../images/save.ico');
              }
            }
          }
        }

        .content {
          #configure-people {
            height: 60%;

            textarea {
              height: 100%;
              width: 100%;
            }
          }

          #people {
            ul {
              margin: 0 0 2vh;
            }
          }
        }

        .footer {
          font-size: 0.75rem;

          .view {
            color: var(--small-color);
            ul {
              padding: 0;
            }

            li {
              list-style-type: none;
              padding-left: 30px;
              position: relative;

              &::before {
                content: "View";
                position: absolute;
                left: 0;
                color: currentColor;
              }
            }
          }
        }
      }

      &.right {
        padding-left: 2vw;
        width: 75%;

        #wheel-container {
          position: relative;

          width: 100%;
          height: 100%;
          max-width: 600px;
          max-height: 600px;

          #wheel {
            position: relative;

            width: 100%;
            height: 100%;

            border: 2px solid var(--border-color);
            border-radius: 50%;

            overflow: hidden;

            .slice {
              // border: 1px solid var(--border-color);

              position: absolute;

              width: 100%;
              height: 100%;
              padding: 0;
              margin: 0;

              // overflow: hidden;

              span {
                position: absolute;
                color: #000;

                top: 75%;
                left: 100%;

                transform: translate(-50%, -50%) rotate(-90deg);
                transform-origin: 0 0;
                white-space: nowrap;

                &.dark {
                  color: #fff;
                }
                &.light {
                  color: #000;
                }
              }
            }
          }
        }
      }

      .content {
        height: 100%;
      }
    }
  }

  #people {
    display: none;
  }

  svg {
    width: 0;
    height: 0;
    position: absolute;
  }
}

// // dark/light mode
// @media (prefers-color-scheme: dark) {
//   body {
//     @extend .dark-mode;
//   }

// }